{% extends "base.html" %}
{% load static %}

{% block titulo %} Registro de alumnos
{% endblock %}

{% block contenido %}

<form method="post"> {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger">
                    {% for error in field.errors %}
                        <small>{{ error }}</small>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% if success %}
    <p style="color: green;">¡Datos impresos en consola correctamente!</p>
{% endif %}

{% endblock %}

{% block saludos %}
{% endblock %}